# Python
__pycache__/
*.pyc
*.pyo

# Models
*.pth
*.pt

# Dataset
archive/
archive MRI/
dataset/
BraTS2024/

# YOLO runs
runs/

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/.venv/

# Conda
env/
*.conda

# VS Code
.vscode/
